body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

/* eliminate automatic margins  */
h1,
p {
  margin: 0;
}

.hero {
  color: white; /* Change to correct colors later */
  padding: 8px 150px 50px; /* Can adjust later */
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  color: #f9faf8;
  font-weight: 900;
}

.links {
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0px;
  gap: 50px;
}

.hero-pitch {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
}

button {
  background-color: #3882f6;
}

.button-1 {
  width: 130px;
  padding: 8px 18px;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
}

.information {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px 200px 50px;
}

.information-header-text {
  font-size: 36px;
  font-weight: 900px;
  color: #1f2937;
}

.cards {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-text {
  text-align: center;
  color: gray;
  padding-top: 8px;
}
/* PLACEHOLDER FORMATTING */

.placeholder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 200px;
  max-width: 600px;
}

.image-placeholder {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 8px;
}
